<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" key="t-menu">Menu</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-dashboards">Dashboards</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/" key="t-default">Starter Page</a></li>
                    </ul>
                </li>

                <li class="menu-title" key="t-pages">Pages</li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-user-circle"></i>
                        <span key="t-authentication">Authentication</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/auth/login" key="t-login">Login</a></li>
                        <li><a href="/auth/login2" key="t-login-2">Login 2</a></li>
                        <li><a href="/auth/register" key="t-register">Register</a></li>
                        <li><a href="/auth/register2" key="t-register-2">Register 2</a></li>
                        <li><a href="/auth/recoverpw" key="t-recover-password">Recover Password</a></li>
                        <li><a href="/auth/Recoverpw2" key="t-recover-password-2">Recover Password 2</a></li>
                        <li><a href="/auth/lockscreen" key="t-lock-screen">Lock Screen</a></li>
                        <li><a href="/auth/lockscreen2" key="t-lock-screen-2">Lock Screen 2</a></li>
                        <li><a href="/auth/confirmmail" key="t-confirm-mail">Confirm Email</a></li>
                        <li><a href="/auth/confirmmail2" key="t-confirm-mail-2">Confirm Email 2</a></li>
                        <li><a href="/auth/emailverification" key="t-email-verification">Email verification</a></li>
                        <li><a href="/auth/emailverification2" key="t-email-verification-2">Email Verification 2</a></li>
                        <li><a href="/auth/twostepverification" key="t-two-step-verification">Two Step Verification</a></li>
                        <li><a href="/auth/twostepverification2" key="t-two-step-verification-2">Two Step Verification 2</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-file"></i>
                        <span key="t-utility">Utility</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/pages/pagemaintenance" key="t-maintenance">Maintenance</a></li>
                        <li><a href="/pages/pagecomingsoon" key="t-coming-soon">Coming Soon</a></li>
                        <li><a href="/pages/pagetimeline" key="t-timeline">Timeline</a></li>
                        <li><a href="/pages/pagefaqs" key="t-faqs">FAQs</a></li>
                        <li><a href="/pages/pagepricing" key="t-pricing">Pricing</a></li>
                        <li><a href="/pages/page404" key="t-error-404">Error 404</a></li>
                        <li><a href="/pages/page500" key="t-error-500">Error 500</a></li>
                    </ul>
                </li>


                <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="bx bx-share-alt"></i>
                        <span key="t-multi-level">Multi Level</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="true">
                        <li><a href="javascript: void(0);" key="t-level-1-1">Level 1.1</a></li>
                        <li>
                            <a href="javascript: void(0);" class="has-arrow" key="t-level-1-2">Level 1.2</a>
                            <ul class="sub-menu" aria-expanded="true">
                                <li><a href="javascript: void(0);" key="t-level-2-1">Level 2.1</a></li>
                                <li><a href="javascript: void(0);" key="t-level-2-2">Level 2.2</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->