
<meta charset="utf-8" />
<title>@ViewBag.Title | Lojiteks</title>
<meta content="@($"{ViewBag.Desc} | Lojiteks")" name="description" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Lojiteks" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">
